.square {
    position: absolute;
    height: 500px;
    top: 90px;
    width: 90px;
    background-color: beige;
    border: 5px solid rgb(218, 218, 172);
  }

.class{
    position: absolute;
    text-align: center;
    top: 71px;
    border: 5px solid rgb(218, 218, 172);
    background-color: rgb(218, 218, 172);
    width: 90px;
}
.square2 {
  height: 500px;
  width: 150px;
  background-color: beige;
  border: 5px solid rgb(218, 218, 172);
  position: absolute;
  left: 86%;
  top: 90px;
}

.classmates{
  position: absolute;
  text-align: center;
  top: 71px;
  left: 86%;
  border: 5px solid rgb(218, 218, 172);
  background-color: rgb(218, 218, 172);
  width: 150px;
}

.square3 {
  height: 500px;
  width: 150px;
  background-color: beige;
  border: 5px solid rgb(218, 218, 172);
  position: absolute;
  left: 8.2%;
  top: 90px;
}
.chats{
  position: absolute;
  text-align: center;
  top: 71px;
  left: 8.2%;
  border: 5px solid rgb(218, 218, 172);
  background-color: rgb(218, 218, 172);
  width: 150px;
}

.topbar{
  position: absolute;
  top: 90px;
  left: 20%;
  background-color: rgb(218, 218, 172);
  width: 850px;
  height: 31px;
}

.background{
  position: absolute;
  top: 120px;
  left: 20.5%;
  background-color: rgb(254, 254, 242);
  border: 5px solid rgb(218, 218, 172);
  border-top: 4px;
  width: 824px;
  height: 474px;
}
