.create{
    left: 12%;
    width: 66%;
    height: 40px;
    background-color: darkgreen;
    color: white;
    position: absolute;
    text-align: center;
}

.input{
    position: absolute;
    left: 12%;
    width: 66%;
    background-color: beige;
    text-align: center;
}
input[type="text"] {
    width: 600px;
    height: 200px;
}
input[type="file"]{
    position: absolute;
    left: 150px;
    top: 23px;
}
