.lancer{
    float: left;
    width: 84px;
    height: 70px;
    top: 0;
}

.livi {
    text-align: justify;
    color: white;
    border: 3px solid rgb(1, 64, 1);
    border-bottom: 0%;
    font-family: serif;
    background-color: darkgreen;
    background-size: 30px;
    font-style: italic;
    height: 40px;
    width: 100%;
    top: 0;
}
