.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgreen;
    position:fixed;
    top:20px;
    left:0px;
    width:100%;
}
.lancer{
    margin-left:10px;
    padding:0;
    position:absolute;
    top:5;
    left:5;
}
.logo{
    margin:0;
    padding:0;
    list-style-type: none;
}

li {
    float: left;
}
.homeButton{
    font-family: "Crete Round";
    font-size: 20px;
    text-decoration: none;
}

.barButton{
    font-family: "Crete Round";
    font-size: 20px;
    text-decoration: none;
}

.navButton {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 24px;
    text-decoration: none;
}

.navButton:hover {
    background-color: rgb(2, 50, 0);
}

.lancer:hover + .homeButton2{
    background-color:rgb(2, 50, 0)
}

a{
    color: white;
}

.div1{
    width: 20%;
    top: 47px;
    left: 160px;
    position: absolute;
    font-style: italic;
    color: white;
}
.div2{
    width: 20%;
    top: 47px;
    left: 360px;
    position: absolute;
    font-style: italic;
    color: white;
}
.div3{
    width: 20%;
    top: 47px;
    left: 560px;
    position: absolute;
    font-style: italic;
    color: white;
}
.div4{
    width: 20%;
    top: 47px;
    left: 760px;
    position: absolute;
    font-style: italic;
    color: white;
}
.div5{
    width: 20%;
    top: 47px;
    left: 960px;
    position: absolute;
    font-style: italic;
    color: white;
}

.post{
    position: absolute;
    background-color: beige;
    width: 60%;
    left: 3%;
    margin: 0;
}

.info{
    margin: 0;
    font-size: small;
    font-weight: 100;
}

body{
    margin:0;
    padding:0;
}