.leftColumn{
    align-items:center;
    text-align: center;
    width:20%;
    background-color: beige;
    border: 2px solid rgb(218, 218, 172);
    padding:2%;
    margin-top: 0px;
    margin-left:2%;
    margin-right:10px;
    margin-bottom: 20px;
    float:left;
}

#roles{
    width: 170px;
    height: 80px;
}

input[type="number"] {
    width: 50px;
    height: 20px;
}

#logoutButton{
    margin: 10px;
    padding:10px;
    border-radius: 20px;
    border:2px solid rgb(218, 218, 172);
    background-color: white;
    color: black;
    width: 150px;
    height:50px;
    font-family: "Crete Round";
    font-size:16;
}

#logoutButton:hover{
    background-color: rgb(218, 218, 172);
}

#bio{
    width: 170px;
    height: 50px;
}

#postsThreadList {
    background-color:white;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid rgb(218, 218, 172)
}


.rightColumnTop{
    float: right;
    align-items:center;
    text-align: center;
    width: 65%;
    background-color: beige;
    padding:2%;
    margin-top: 0px;
    margin-left:10px;
    margin-right:2%;
    margin-bottom: 20px;
    border: 2px solid rgb(218, 218, 172);
}
.rightColumnBottom{
    align-items:center;
    text-align: center;
    float: right;
    width: 65%;
    background-color: beige;
    padding:2%;
    margin-top: 10px;
    margin-left:10px;
    margin-right:2%;
    margin-bottom: 20px;
    border: 2px solid rgb(218, 218, 172);
}
