.mainpost{
    position: absolute;
    width: 50%;
    text-align: center;
    left: 25%;
    background-color: beige;
}

.img{
    width: 500px;
}

.comments{
    position: absolute;
    top: 93%;
    left: 25%;
    width: 50%;
    background-color: beige;
}